demo/caqh-demo-one/src/main/mule/get-provider-credentials.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xmlns:caqh="http://www.mulesoft.org/schema/mule/caqh"
	xmlns:http="http://www.mulesoft.org/schema/mule/http"
	xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/caqh http://www.mulesoft.org/schema/mule/caqh/current/mule-caqh.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
	<flow name="get-provider-credentialsFlow" doc:id="6f8fe3c1-23c5-4d3b-aa15-68741dcc1b76" >
		<http:listener doc:name="8081/getProviderCredentials" doc:id="29930fcc-5d5b-42f8-ba0b-90a46777c2be" config-ref="HTTP_Listener_config" path="/getProviderCredentials"/>
		<caqh:get-provider-credentials doc:name="Get provider credentials" doc:id="c27f6dfe-a7e6-4844-97d5-0430d87dae3d" config-ref="CAQH_Config" caqhProviderId="#[attributes.queryParams.caqhProviderId]" organizationId="#[attributes.queryParams.organizationId]" attestationDate="#[attributes.queryParams.attestationDate]" credentialSection="#[attributes.queryParams.credentialSection]"/>
		<set-payload value="#[payload]" doc:name="Set Payload" doc:id="d6596a56-ff3d-4544-8a8a-26031034f0ca" mimeType="application/xml"/>
		<ee:transform doc:name="Transform Message" doc:id="c518e811-7d84-410d-a0da-37ed98398320" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/xml
---
payload]]></ee:set-payload>
			</ee:message>
		</ee:transform>
	</flow>
</mule>
